* { margin: 0; padding: 0;}

html, body { height: 100%; }

body {
  width: 100%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fffffa;
}

header {
  -moz-box-shadow:    0px 2px 3px 1px #ccc;
  -webkit-box-shadow: 0px 2px 3px 1px #ccc;
  box-shadow:         0px 2px 3px 1px #ccc;
  background-color: #fffffa;
  position: relative;
  z-index: 3; /*highest order*/
  height: 24%;
}

  header nav {
    display: none; /*Not sure we want nav? change to flex*/
    background-color: #0C4266;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
  }


    nav a:link {
      text-decoration: none;
      color: #fffffa;
      padding: 0.5px;
      padding-left: 45px;
      padding-right: 45px;
      margin-left: 0px;
      margin-right: 0px;
    }

    nav a:visited {
        text-decoration: none;
    }

    nav a:hover {
        text-decoration: underline;
        background-color: #3A87BA;
    }

    nav a:active {
        text-decoration: underline;
    }

  header img {
    display: block;
    width: 80%;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
  }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  height: 73%;
  margin-left: auto;
  margin-right: auto;
}

  .container main {
    position: relative;
    z-index: 1;
    width: 65%;
    height: 100%;
  }

    main ul {
      list-style: none;
    }

main li {
  float: bottom;
}

    main form{
       margin-top: 20px;
       margin-left: 5%;
       width: 90%;
    }

    main form * {
      margin: 10px;
      font-size: 1.1em;
      vertical-align: center;
      align: middle;
    }

    main form label {
      float: left;
      font-size: 1.3em;
      margin: 14px 0px 14px 0px;
    }

    main form input {
      height: 1.5em;
      float: right;


    }

  .container aside {
    position: relative;
    z-index: 4;
    -moz-box-shadow:    -2px 0px 3px 1px #ccc;
    -webkit-box-shadow: -2px 0px 3px 1px #ccc;
    box-shadow:         -2px 0px 3px 1px #ccc;
    width: 35%;
    height: 100%;
    background-color: #0C4266;
    color: #fffffa  ;
  }

  .container aside article {
   margin: 25px;
  }

  .container aside article p {
   font-size: 0.9em;
  }

footer {
  width: 100%;
  height: 3%;
  position: relative;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  background-color: #0C4266;
  color: #fffffa;
}